// Importing the variable section
@use '../partials/variables' as *;

// Styling the author section
main {
    .author {
        padding: 2rem 0;
        background-color: $DarkBlue4;

        .attribution {
            color: $LightGray;
            font-size: 1.25rem;
            text-align: center;

            a {
                margin-left: .25rem;
                // color: $Blue;
                background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                text-decoration: none;
                transition: $transition;

                &:hover {
                    color: $Cyan;
                }
            }
        }
    }
}