// Colors variables
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

// Font Weights
$FontWeight300: 300;
$FontWeight400: 400;

// Font Family
$FontFamilyJosefin: 'Josefin Sans', sans-serif;
$FontFamilyAlata: 'Alata', sans-serif;

// Transition
$transition: all .4s ease-in-out;

// Padding
$padding: 10rem;